<!-- templates/admin.html -->

{% extends "base.html" %}

{% block content %}


<div class="hero-body bg-img">
    <div class="container">
	    <div class="column is-10 is-offset-1">
	        <div class="columns">
	            <div class="column">
	                <div class="card">
	                    <div class="card-image">
	                        <figure class="image is-4by3">
	                            <img src="static/img/undraw_add_user_ipe3.svg" alt="User manager section" />
	                        </figure>
	                    </div>
	                    <div class="card-content">
	                        <div class="content">
	                            Manage access requesters and users.
	                        </div>
	                    </div>
	                    <footer class="card-footer">
	                        <a href="{{ url_for('main.request_manager') }}" class="card-footer-item">Requests</a>
	                        <a href="{{ url_for('main.user_manager') }}" class="card-footer-item">Users</a>
	                    </footer>
	                </div>
	            </div>
	            <div class="column">
	                <div class="card">
	                    <div class="card-image">
	                        <figure class="image is-4by3">
	                            <img src="static/img/undraw_collecting_fjjl.svg" alt="File manager section" />
	                        </figure>
	                    </div>
	                    <div class="card-content">
	                        <div class="content">
	                            Add new files and manage existing ones.
	                        </div>
	                    </div>
	                    <footer class="card-footer">
	                        <a href="{{ url_for('main.add_file') }}" class="card-footer-item">Add file</a>
	                        <a href="#" class="card-footer-item">[...]</a>
	                    </footer>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>

{% endblock %}