<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>rSCP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
</head>

<body>
    <section class="hero is-light is-fullheight">
        <div class="hero-head">
            <nav class="navbar" role="navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="https://tom.tch.harvard.edu/projects/rscp/">
                        <img src="static/img/g872.png" alt="Rat Stem Cell Project" height="30">
                    </a>

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button" href="{{ url_for('main.about') }}">About</a>
                            <a class="button" href="{{ url_for('main.data_matrix') }}">Data matrix</a>
                            {% if current_user.is_authenticated %}
                            <a class="button", href="{{ url_for('main.profile') }}">Profile</a>
                            {% if current_user.type == 'Administrator' %}
                            <a class="button" href="{{ url_for('main.admin') }}">Administration</a>
                            {% endif %}
                            <a class="button is-danger" href="{{ url_for('auth.logout') }}">Log out</a>
                            {% else %}
                            <a class="button" href="{{ url_for('auth.login') }}">Log in</a>
                            <a class="button is-success" href="{{ url_for('auth.signup') }}">Sign up</a>
                            {% endif %}
                        </div>
                      </div>
                </div>
            </nav>
        </div>

        
        {% block content %}
        {% endblock %}
        

        <footer class="hero-footer">
            <div class="content has-text-centered">
                <p>(C) <a href="https://www.mcleanhospital.org/">McLean Hospital</a> & <a href="https://www.chip.org/">Boston Children's Hospital</a> 2019</p>
            </div>
        </footer>
    </section>
</body>

</html>
